
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: lato, Helvetica, sans-serif;
  }
  
  header {
    background-color: #666;
    padding: 1px;
    text-align: center;
    font-size: 16px;
    color: white;
  }
  
  
  nav {
    float: left;
    width: 18%;
    height: 900px; 
    background: #ccc;
    padding: 10px;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: auto; 
  }
  
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  
  .background {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Brigham_Young_University–Idaho_medallion.svg/270px-Brigham_Young_University–Idaho_medallion.svg.png");
    display: inline-block;
    font-size: 0;
  }
  .background img {
    -webkit-transition: all .5s;
  }
  .background img:hover {
    opacity: 0.9;
  }
  .navstyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ccc;
  
  }
  .navstyle2 .navstyleHover {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  
  }
  
  
  .navstyle2 .navstyleHover:hover {
  background-color: #555;
  color: white;
   font-weight: bold;
  }
  
  a.ex2:hover, a.ex2:active {
    font-size: 105%;
    font-weight: bold;
  }

  code{

    background-color: #000;
    border: 7px solid #b4b6ae;
    display: block;
    padding: 20px;
    margin: auto;
    color: yellow;
  }
  
  
  .table{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    color: #000!important;
    background-color: #fff!important;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
}
  th tr {
    border: 1px solid #dddddd;
  }


#title1 {
  position: relative;
  animation-name: title1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes title1 {
  0% {left: -1000px;}
  100% {left: 0;}
} 


#subtle1{
  position: relative;
  animation-name: subtle1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes subtle1 {
  0% {right: -1000px;}
  100% {right: 0;}
} 


#content1{  
  position: relative;
  animation-name: content1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes content1 {
  0% {left: -1000px;}
  100% {left: 0;}
}


#table1{  
  position: relative;
  animation-name: table1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes table1 {
  0% {right: -1000px;}
  100% {right: 0;}
}




#ex1{
  position: relative;
  transition: font-size 1.5s, color 2s;
}

.box {
  width: 100px;
  height: 100px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transform: translate(0, 0);
  transition: transform 500ms;
  will-change: transform;
}

.boxs {
  width: 100px;
  height: 100px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transform: translate(0, 0);
  transition: transform 500ms;
  will-change: transform;
}

.boxss {
  width: 100px;
  height: 100px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transform: translate(0, 0);
  transition: transform 500ms;
  will-change: transform;

}

.boxsss {
  width: 100px;
  height: 100px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transform: translate(0, 0);
  transition: transform 500ms;
  will-change: transform;

}

.boxss.spin2 {  
  position: relative;
  animation-name: spin2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.box.move {  
  transform: translate(100px, 100px);
}

.boxs.spin {  
  position: relative;
  animation-name: spin1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes spin1 {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}


.boxsss.movear{

  position: relative;
  animation-name: movear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes movear {
  0%   {
    background-color:red; left:0px; top:0px;
  }
  25%  {
    background-color:yellow; left:200px; top:0px;
  }
  50%  {
    background-color:blue; left:200px; top:200px;
  }
  75%  {
    background-color:green; left:0px; top:200px;
  }
  100% {
    background-color:red; left:0px; top:0px;
  }
}